@import "_nullstyle";
@import "_fonts";
@import "_mixins";
@import "_variables";

// =============================================
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   font-display: swap;
}
.container {
   margin: 0 auto;
   max-width: 1370px;
   padding: 0 10px;
}
body._lock {
   overflow: hidden;
}
// =====================HEADER========================
.header {
   background: #413a35;
   height: 130px;
   @media (max-width: 767px) {
      height: 62px;
   }
}
.header__row {
   display: flex;
   justify-content: space-between;
   padding: 10px 0;
   align-items: center;
   @media (max-width: 767px) {
      padding: 0;
   }
}
.header__logo {
   flex: 0 0 188px;
   @media (max-width: 767px) {
      position: relative;
      z-index: 10;
   }
}
.header__logo-img {
   width: 100%;
   height: 100%;
}
.header__info {
   @media (max-width: 767px) {
      display: flex;
   }
}
.header__info-list {
   flex: 1 1 auto;
   display: flex;
   align-items: center;
   @media (max-width: 767px) {
      margin-right: 15px;
   }
}
.header__info-link {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 500;
   font-size: 13px;
   line-height: 15px;
   color: #ffffff;
   white-space: nowrap;
   @include adaptiv-value("margin-right", 40, 15, 1);
   // transition: all 0.3s ease;
   &:hover {
      color: #ffc501;
   }
}
.header__info-link:last-child {
   margin-right: 0;
}
.icon-location {
   &::before {
      @include adaptiv-value("margin-right", 10, 5, 1);
   }
}
.icon-time {
   &::before {
      @include adaptiv-value("margin-right", 10, 5, 1);
   }
}
.icon-none {
   @media (max-width: 1100px) {
      display: none;
   }
}
.icon-mail {
   @include adaptiv-value("margin-right", 80, 20, 1);
   &::before {
      @include adaptiv-value("margin-right", 10, 5, 1);
   }
}
.icon-phone {
   font-weight: 600;
   @include adaptiv-value("font-size", 26, 16, 1);
   line-height: 123%;
   &::before {
      @include adaptiv-value("margin-right", 10, 5, 1);
   }
   @media (max-width: 480px) {
      display: none;
   }
}
.icon-phone {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 600;
   @include adaptiv-value("font-size", 26, 16, 1);
   line-height: 123%;
   color: #ffffff;
   white-space: nowrap;
   // transition: all 0.3s ease;
   &:hover {
      color: #ffc501;
   }
}
.header__menu {
   display: none;
   @media (max-width: 767px) {
      display: block;
   }
}
// ===============================MENU=======================
.menu {
   margin: -50px 0px 0px 0px;
   position: relative;
   z-index: 4;
   .container {
      background: #ffc501;
   }
   @media (max-width: 767px) {
      margin: 0px 0px 0px 0px;
   }
}
.menu__row {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 22px 30px;
   @media (max-width: 1100px) {
      justify-content: center;
   }
}
.menu__menu {
}
.menu__icon {
   display: none;
}
.menu__body {
}
.menu__list {
   display: flex;
}
.menu__li {
   border-right: 1px solid #413a35;
}
.menu__li:last-child {
   border-right: none;
}
.menu__link {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 116%;
   text-transform: uppercase;
   color: #312c21;
   padding: 0 22px;
   transition: all 0.2s ease;
   &:hover {
      color: #fff;
   }
}
.menu__call-back {
   @media (max-width: 1100px) {
      display: none;
   }
}
.call-back-btn {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 600;
   font-size: 16px;
   line-height: 125%;
   color: #312c21;
   border: 1px solid #312c21;
   display: inline-flex;
   justify-content: center;
   align-items: center;
   padding: 17px 40px;
   transition: all 0.3s ease;
   &:hover {
      color: #fff;
      background-color: #312c21;
   }
}

.icon-call-back {
   &::before {
      margin-right: 10px;
   }
}
// =====================================================
@media (max-width: 767px) {
   .menu {
      position: relative;
      .container {
         background: #ffc501;
      }
   }
   .menu__row {
      display: block;
      padding: 20px 0;
   }
   .menu__menu {
   }
   .plash {
      display: block;
      width: 100%;
      height: 62px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 6;
      background: rgb(65, 58, 53);
   }
   .menu__body {
      display: block;
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      overflow: auto;
      padding: 75px 0px 0px 0px;
      z-index: 5;
      transition: left 0.3s ease;
      background: rgb(65, 58, 53);
   }
   /*
   .menu__body::before {
      content: "";
      display: block;
      width: 100%;
      height: 62px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 4;
      background: red;
   }
   */
   .menu__body._active {
      left: 0;
   }
   .menu__icon {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 20px;
      position: relative;
      z-index: 10;
   }
   .menu__icon._active span:nth-child(1) {
      transform: rotate(45deg);
      position: absolute;
      left: 0;
      top: 8px;
   }
   .menu__icon._active span:nth-child(3) {
      transform: rotate(-45deg);
      position: absolute;
      left: 0;
      top: 8px;
   }
   .menu__icon._active span:nth-child(2) {
      opacity: 0;
   }
   .menu__icon span {
      width: 100%;
      height: 3px;
      background: #ffc501;
   }
   .menu__list {
      display: flex;
      flex-direction: column;
   }
   .menu__li {
      border-right: none;
      margin-bottom: 20px;
   }
   .menu__link {
      font-size: 22px;
      padding: 10px 20px;
      color: #fff;
   }
   .menu__call-back {
      display: none;
   }
}
// ======================MAIN=============================
.main {
   margin: -50px 0px 0px 0px;
   position: relative;
   padding: 160px 10px 60px 10px;
   @include adaptiv-value("padding-left", 10, 5, 1);
   @include adaptiv-value("padding-right", 10, 5, 1);
   @include adaptiv-value("padding-top", 160, 20, 1);
   @include adaptiv-value("padding-bottom", 50, 10, 1);
   @media (max-width: 767px) {
      margin: 0px 0px 0px 0px;
   }
}
.main__body {
}
.slider-wrapper {
   position: relative;
   padding: 0 40px;
   @media (max-width: 500px) {
      padding: 0;
   }
}
.swiper-button-prev {
   left: 0;
   z-index: 2;
   @media (max-width: 500px) {
      display: none;
   }
}
.swiper-button-next {
   right: 0;
   z-index: 2;
   @media (max-width: 500px) {
      display: none;
   }
}
.swiper-button-prev::after {
   color: #fff;
}
.swiper-button-next::after {
   color: #fff;
}
.swiper {
   max-width: 1176px;
}
.swiper-wrapper {
}
.swiper-slide {
   background: rgba(1, 1, 0, 0.54);
   // padding: 62px 78px;
   @include adaptiv-value("padding-left", 78, 26, 1);
   @include adaptiv-value("padding-right", 78, 26, 1);
   @include adaptiv-value("padding-top", 62, 21, 1);
   @include adaptiv-value("padding-bottom", 62, 21, 1);
}
.slide-1 {
   // padding: 62px 78px;
   // background: rgba(1, 1, 0, 0.54);
}
.main__title {
   font-family: "Oswald";
   font-style: normal;
   font-weight: 500;
   @include adaptiv-value("font-size", 52, 24, 1);
   line-height: 148%;
   text-transform: uppercase;
   color: #ffffff;
   margin-bottom: 25px;
}
.main__text {
   max-width: 535px;
   font-family: "Oswald";
   font-style: normal;
   font-weight: 600;
   @include adaptiv-value("font-size", 30, 16, 1);
   line-height: 146%;
   color: #ffffff;
   margin-bottom: 25px;
}
.main__link {
   a {
      background: #ffc501;
      display: inline-flex;
      // padding: 25px 90px;
      @include adaptiv-value("padding-left", 90, 30, 1);
      @include adaptiv-value("padding-right", 90, 30, 1);
      @include adaptiv-value("padding-top", 25, 9, 1);
      @include adaptiv-value("padding-bottom", 25, 9, 1);
      justify-content: center;
      align-items: center;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 700;
      @include adaptiv-value("font-size", 30, 16, 1);
      line-height: 116%;
      color: #312c21;
   }
}
.slide-2 {
   // background: rgba(1, 1, 0, 0.54);
   // padding: 62px 78px;
}
.slide-3 {
   // background: rgba(1, 1, 0, 0.54);
   // padding: 62px 78px;
}
.pagination {
   position: relative;
   z-index: 2;
   text-align: center;
   // margin-top: 70px;
   @include adaptiv-value("margin-top", 70, 20, 1);
}
.pagination.swiper-pagination-bullets .swiper-pagination-bullet {
   @include adaptiv-value("width", 30, 15, 1);
   @include adaptiv-value("height", 30, 15, 1);
   background: #fff;
   // margin: 0 13px;
   @include adaptiv-value("margin-left", 13, 8, 1);
   @include adaptiv-value("margin-right", 13, 8, 1);
   opacity: 1;
}
.pagination.swiper-pagination-bullets .swiper-pagination-bullet-active {
   // width: 30px;
   // height: 30px;
   background: #ffc501;
}
.main__img {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
   }
}
// ======================BOXS=============================
.boxs {
   // padding: 110px 0;
   // @include adaptiv-value("padding-left", 90, 30, 1);
   // @include adaptiv-value("padding-right", 90, 30, 1);
   @include adaptiv-value("padding-top", 110, 30, 1);
   @include adaptiv-value("padding-bottom", 110, 30, 1);
}
.boxs__line {
   width: 100%;
   // margin-bottom: 40px;
   @include adaptiv-value("margin-bottom", 40, 20, 1);
}
.line__left {
   background: #ffc501;
   @include adaptiv-value("height", 74, 60, 1);
   .container {
      position: relative;
   }
}
.line__right {
   background-color: #fff;
   @include adaptiv-value("height", 78, 64, 1);
   width: 100vw;
   position: absolute;
   top: -2px;
   @include adaptiv-value("left", 555, 320, 1);
   // left: 555px;
   z-index: 3;
}
.boxs__title {
   font-family: "Oswald";
   font-style: normal;
   font-weight: 400;
   // font-size: 37px;
   line-height: 148%;
   color: #312c21;
   text-transform: uppercase;
   padding: 10px 0;
   @include adaptiv-value("font-size", 37, 20, 1);
}
.boxs__row {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, 1fr);
   // gap: 40px;
   @include adaptiv-value("gap", 40, 10, 1);
   @media (max-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
   }
   @media (max-width: 425px) {
      grid-template-columns: 1fr;
      // grid-template-rows: repeat(3, 1fr);
   }
}
.boxs__column {
   &:hover {
      box-shadow: 1px 1px 4px #25231c;
   }
}
.boxs__item {
   border: 0.5px solid #25231c;
   // padding: 30px 20px;
   @include adaptiv-value("padding-left", 20, 10, 1);
   @include adaptiv-value("padding-right", 20, 10, 1);
   @include adaptiv-value("padding-top", 30, 10, 1);
   @include adaptiv-value("padding-bottom", 30, 10, 1);
}
.boxs__item-img {
   max-width: 375px;
   max-height: 290px;
   margin-bottom: 25px;
}
.item__img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   object-position: center;
}
.boxs__item-content {
}
.item__content-title {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 500;
   // font-size: 20px;
   line-height: 115%;
   color: #312c21;
   // margin-bottom: 15px;
   @include adaptiv-value("margin-bottom", 15, 10, 1);
   @include adaptiv-value("font-size", 20, 16, 1);
}
.item__content-text {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 300;
   // font-size: 18px;
   @include adaptiv-value("font-size", 18, 14, 1);
   line-height: 116%;
   max-width: 256px;
   color: #312c21;
   // margin-bottom: 35px;
   @include adaptiv-value("margin-bottom", 35, 15, 1);
}
.item__content-link {
   background: #ffc501;
   // height: 62px;
   @include adaptiv-value("height", 62, 32, 1);
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 5px 10px;
   font-family: "Roboto";
   font-style: normal;
   font-weight: 500;
   // font-size: 25px;
   @include adaptiv-value("font-size", 25, 18, 1);
   line-height: 116%;
   color: #312c21;
   &:hover {
      background: #ffd445;
      box-shadow: 1px 1px 6px #c59701;
      border: 1px solid #25231c;
   }
}
// ========================================ABOUT===================================
.about {
   // padding: 95px 0 145px 0;
   @include adaptiv-value("padding-top", 95, 30, 1);
   @include adaptiv-value("padding-bottom", 145, 30, 1);
   background: #ffc501;
}
.about__line {
   // margin-bottom: 80px;
   @include adaptiv-value("margin-bottom", 80, 20, 1);
   background: #fff;
   .posit {
   }
}
.about__title {
   position: relative;
   font-family: "Oswald";
   font-style: normal;
   font-weight: 400;
   // height: 74px;
   @include adaptiv-value("height", 74, 60, 1);
   // font-size: 37px;
   @include adaptiv-value("font-size", 37, 28, 1);
   line-height: 148%;
   text-transform: uppercase;
   color: #312c21;
   padding: 10px 0;
}
.about__title::before {
   content: "";
   display: block;
   // height: 78px;
   @include adaptiv-value("height", 78, 64, 1);
   background-color: #ffc501;
   width: 100vw;
   position: absolute;
   top: -2px;
   // @include adaptiv-value("left", 555, 320, 1);
   left: 115px;
   z-index: 3;
}
.about__right {
}
.about__row {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(242px, 1fr));
   // gap: 35px;
   @include adaptiv-value("gap", 35, 15, 1);
}
.about__column {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #fff;
}
.about__item {
   background-color: #fff;
   padding: 40px;
   height: 100%;
}
.about__item > *:not(:last-child) {
   margin-bottom: 5px;
}
.about__item-title {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 500;
   font-size: 27px;
   line-height: 118%;
   color: #312c21;
}
.about__item-price {
   font-family: "Oswald";
   font-style: normal;
   font-weight: 600;
   // font-size: 34px;
   @include adaptiv-value("font-size", 34, 28, 1);
   line-height: 147%;
   color: #ffc501;
}
.about__item-text {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 500;
   font-size: 18px;
   line-height: 116%;
   color: #312c21;
}
// ========================SNAMI======================================
.snami {
   // padding: 100px 0px;
   @include adaptiv-value("padding-top", 100, 30, 1);
   @include adaptiv-value("padding-bottom", 100, 30, 1);
}
.snami__line {
   // margin-bottom: 90px;
   @include adaptiv-value("margin-bottom", 90, 20, 1);
}
.snami-line__left {
   background: #ffc501;
   @include adaptiv-value("height", 74, 60, 1);
   .container {
      position: relative;
   }
}
.snami__title {
   font-family: "Oswald";
   font-style: normal;
   font-weight: 400;
   // font-size: 37px;
   @include adaptiv-value("font-size", 37, 20, 1);
   line-height: 148%;
   text-transform: uppercase;
   color: #312c21;
   padding: 10px 0px;
}
.snami__right {
   background-color: #fff;
   @include adaptiv-value("height", 78, 64, 1);
   width: 100vw;
   position: absolute;
   top: -2px;
   // @include adaptiv-value("left", 555, 320, 1);
   left: 450px;
   z-index: 3;
}
.snami__row {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(322px, 322px));
   justify-content: center;
   // column-gap: 19px;
   // row-gap: 34px;
   @include adaptiv-value("column-gap", 19, 10, 1);
   @include adaptiv-value("row-gap", 34, 10, 1);
   @media (max-width: 375px) {
      grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
   }
}
.snami__column {
   border: 0.5px solid #312c21;
   padding: 24px;
   min-width: 250px;
}
.snami__item {
}
.snami__item > *:not(:last-child) {
   margin-bottom: 9px;
}
.snami__item-img {
   width: 50px;
   height: 75px;
   img {
      width: 100%;
      height: 100%;
   }
}
.snami__item-title {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 700;
   font-size: 19px;
   line-height: 22px;
   color: #ffc501;
}
.snami__item-text {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 300;
   font-size: 16px;
   line-height: 19px;
   color: #312c21;
}
// ==============================VOPROS================================
.vopros {
   // padding: 50px 0px 100px 0px;
   @include adaptiv-value("padding-top", 50, 10, 1);
   @include adaptiv-value("padding-bottom", 100, 20, 1);
}
.vopros__line {
   // margin-bottom: 90px;
   @include adaptiv-value("margin-bottom", 55, 20, 1);
}
.vopros-line__left {
   background: #ffc501;
   @include adaptiv-value("height", 74, 60, 1);
   .container {
      position: relative;
   }
}
.vopros__title {
   font-family: "Oswald";
   font-style: normal;
   font-weight: 400;
   // font-size: 37px;
   @include adaptiv-value("font-size", 37, 20, 1);
   line-height: 148%;
   text-transform: uppercase;
   color: #312c21;
   padding: 10px 0px;
}
.vopros__right {
   background-color: #fff;
   @include adaptiv-value("height", 78, 64, 1);
   width: 100vw;
   position: absolute;
   top: -2px;
   // @include adaptiv-value("left", 555, 320, 1);
   left: 450px;
   z-index: 3;
}
.vopros__row {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   // gap: 70px;
   @include adaptiv-value("gap", 70, 20, 1);
   // display: flex;
   @media (max-width: 760px) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, auto);
   }
}
.vopros__column {
   // flex: 1 1 50%;
}
.vopros__item {
}
.vopros__item-img {
   max-width: 650px;
   img {
      width: 100%;
      height: 100%;
   }
}
.vopros__item-text {
   background: #ffffff;
   border: 0.5px solid #312c21;
   font-family: "Roboto";
   font-style: normal;
   font-weight: 400;
   // font-size: 29px;
   @include adaptiv-value("font-size", 29, 18, 1);
   line-height: 117%;
   color: #312c21;
   // padding: 30px 70px;
   @include adaptiv-value("padding-top", 30, 10, 1);
   @include adaptiv-value("padding-bottom", 30, 10, 1);
   @include adaptiv-value("padding-left", 70, 20, 1);
   @include adaptiv-value("padding-right", 70, 20, 1);
   position: relative;
}
.vopros__item-text::before {
   content: "";
   position: absolute;
   left: 30%;
   top: -60px;
   display: block;
   width: 0;
   height: 0;
   border: 0 solid transparent;
   border-right-width: 16px;
   border-left-width: 85px;
   border-bottom: 60px solid #312c21;
   z-index: 2;
}
.vopros__item-text::after {
   content: "";
   position: absolute;
   left: 30%;
   top: -59px;
   display: block;
   width: 0;
   height: 0;
   border: 0 solid transparent;
   border-right-width: 15.5px;
   border-left-width: 84.5px;
   border-bottom: 60px solid #fff;
   z-index: 2;
}
.vopros__item-title {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 500;
   // font-size: 33px;
   @include adaptiv-value("font-size", 33, 22, 1);
   line-height: 118%;
   color: #ffc501;
   // margin-bottom: 42px;
   @include adaptiv-value("margin-bottom", 42, 15, 1);
}
.form-row {
   padding: 25px 0px 0px 0px;
   @media (max-width: 760px) {
      padding: 0px 0px 0px 0px;
   }
}
.vopros__item-forma {
}
.vopros-form {
}
.vopros-form-text {
   margin-bottom: 14px;
   input {
      width: 100%;
      // height: 75px;
      background: #ffffff;
      border: 0.5px solid #312c21;
      // padding: 25px 35px;
      @include adaptiv-value("padding-top", 25, 10, 1);
      @include adaptiv-value("padding-bottom", 25, 10, 1);
      @include adaptiv-value("padding-left", 35, 15, 1);
      @include adaptiv-value("padding-right", 35, 15, 1);
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      // font-size: 20px;
      @include adaptiv-value("font-size", 20, 16, 1);
      line-height: 23px;
      // color: rgba(65, 58, 53, 0.5);
      color: #25231c;
   }
}
.vopros-form-tel {
   margin-bottom: 14px;
   input {
      width: 100%;
      // height: 75px;
      background: #ffffff;
      border: 0.5px solid #312c21;
      // padding: 25px 35px;
      @include adaptiv-value("padding-top", 25, 10, 1);
      @include adaptiv-value("padding-bottom", 25, 10, 1);
      @include adaptiv-value("padding-left", 35, 15, 1);
      @include adaptiv-value("padding-right", 35, 15, 1);
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      // font-size: 20px;
      @include adaptiv-value("font-size", 20, 16, 1);
      line-height: 23px;
      // color: rgba(65, 58, 53, 0.5);
      color: #25231c;
   }
}
.vopros-form-bigtext {
   // margin-bottom: 35px;
   @include adaptiv-value("margin-bottom", 35, 15, 1);
   input {
      width: 100%;
      // height: 92px;
      @include adaptiv-value("height", 92, 50, 1);
      background: #ffffff;
      border: 0.5px solid #312c21;
      // padding: 25px 35px;
      @include adaptiv-value("padding-top", 25, 10, 1);
      @include adaptiv-value("padding-bottom", 25, 10, 1);
      @include adaptiv-value("padding-left", 35, 15, 1);
      @include adaptiv-value("padding-right", 35, 15, 1);
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      // font-size: 20px;
      @include adaptiv-value("font-size", 20, 16, 1);
      line-height: 23px;
      // color: rgba(65, 58, 53, 0.5);
      color: #25231c;
   }
}
.vopros-form-checbox {
   display: flex;
   align-items: center;
   font-family: "Roboto";
   font-style: normal;
   font-weight: 500;
   font-size: 12.8571px;
   line-height: 15px;
   color: #312c21;
   margin-bottom: 15px;
   input {
      display: inline-block;
      min-width: 22px;
      min-height: 22px;
      margin-right: 15px;
   }
}
.vopros-btn {
   width: 100%;
   background: #413a35;
   border-radius: 5.35714px;
   font-family: "Roboto";
   font-style: normal;
   font-weight: 700;
   // font-size: 32px;
   @include adaptiv-value("font-size", 32, 20, 1);
   line-height: 118%;
   color: #ffffff;
   // padding: 35px 10px;
   padding-left: 10px;
   padding-right: 10px;
   @include adaptiv-value("padding-top", 35, 10, 1);
   @include adaptiv-value("padding-bottom", 35, 10, 1);
}
.vopros-zash {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 300;
   font-size: 12px;
   line-height: 15px;
   // margin-top: 18px;
   @include adaptiv-value("margin-top", 18, 10, 1);
   color: #312c21;
   padding: 0 20px;
}
// ====================FOOTER============================
.footer {
   padding: 40px 0px 20px 0px;
   background: #413a35;
}
.footer__row {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   column-gap: 20px;
   @media (max-width: 950px) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      row-gap: 20px;
      justify-items: center;
   }
   @media (max-width: 480px) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, auto);
      justify-items: center;
   }
}
.footer__column {
}
.column-1 {
}
.footer__item {
   height: 138px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   @media (max-width: 480px) {
      height: auto;
   }
}
.item-1 {
}
.footer__item-logo {
   max-width: 212px;
   img {
      width: 100%;
      height: 100%;
   }
}
.footer__item-text {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
   color: #ffffff;
}
.column-2 {
   @media (max-width: 480px) {
      display: none;
   }
}
.item-2 {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.footer-list {
}
.footer-list > *:not(:last-child) {
   // margin-bottom: 20px;
}
.footer-li {
}
.footer-link {
   font-family: "Roboto";
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: #ffffff;
   &:hover {
      color: #947474;
   }
}
.column-3 {
}
.item-3 {
   // display: flex;
}
.item-3 > *:not(:last-child) {
   margin-bottom: 20px;
}
.footer__item-info {
   display: flex;
   font-family: "Roboto";
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 19px;
   color: #ffffff;
   &:hover {
      color: #947474;
   }
}
.icon-locatin-text {
   max-width: 220px;
}
.icon-location::before {
   color: #ffc501;
   display: inline-block;
}
.icon-mail::before {
   color: #ffc501;
}
.icon-time::before {
   color: #ffc501;
}
.column-4 {
}
.item-4 {
   max-width: 260px;
   p {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 14.5px;
      line-height: 17px;
      color: #ffffff;
      margin-bottom: 19px;
   }
}
.footer-callback {
   display: flex;
   padding: 16px;
   border: 1.5px solid #ffc501;
   justify-content: center;
   align-items: center;
   font-family: "Roboto";
   font-style: normal;
   font-weight: 600;
   font-size: 16.8874px;
   line-height: 20px;
   color: #ffc501;
   margin-bottom: 15px;
   &:hover {
      color: #fff;
      border: 1.5px solid #fff;
   }
}
.icon-call-back {
}
.footer-call {
}
.icon-phone {
}
.footer__line {
   margin-top: 42px;
   width: 100%;
   height: 1px;
   background-color: #ffc501;
   @media (max-width: 480px) {
      margin-top: 0px;
   }
}
.footer__sub-text {
   margin-top: 18px;
   display: flex;
   justify-content: center;
   a {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      text-decoration-line: underline;
      color: #ffffff;
      cursor: pointer;
      &:hover {
         color: #947474;
      }
   }
}
